{% extends "frappe/templates/base.html" %}

{% block content %}
<div class="container my-4">
    <div class="page-header">
		<h2>Custom WebForm</h2>
    </div>

    <hr>
    <br>

    <orm method="post" novalidate="novalidate">
        <div class="row">
            <div class="col-sm-6">
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">First Name *</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="firs_tname" name="first_name" title="First Name is required" aria-required="true" required="">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">Last Name *</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="last_name" name="last_name" aria-required="true" required="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">Email *</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="email" name="email" aria-required="true" required="">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">Phone</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="phone" name="phone">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">Company</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="company" name="company">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">Job Title</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" id="job_title" name="job_title">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <label class="control-label" style="padding-right: 0px;">Comments *</label>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control input-sm" id="comments" name="comments" rows="5"></textarea>
                </div>
            </div>
        </div>
  
        <br>
        
        <button class="btn btn-dark btn-block">Submit</button>
    </form>

    <br>
    <hr>
</div>

<script>
    {% include "frappe_apps/www/custom_web_form.js" %}
</script>
{% endblock %}