{% extends "frappe/templates/base.html" %}

{% block content %}
  <div class="container my-4">

      <h1>Contact Data</h1>

      <table class="table table-bordered table-hover small" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Company</th>
            <th scope="col">PDF</th>
          </tr>
        </thead>
        <tbody style="vertical-align: middle; line-height: 2;">
            {% for entry in data %}
            <tr>
                <th scope="row" style="text-align: left;">{{ entry.get( 'name', '' ) }}</th>
                <td>{{ entry.get( 'first_name', '' ) }} {{ entry.get( 'last_name', '' ) }}</td>
                <td>{{ entry.get( 'email',      '' ) }}</td>
                <td>{{ entry.get( 'company',    '' ) }}</td>
                <td><a class="btn btn-sm" href="/printview?doctype=Web%20Form%20Data&name={{ entry.get( 'name', '' ) }}" target="_blank">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

      <a class="btn btn-dark btn-block" href="/app/web-form-data">View More from Desk</a></td>
  </div>

  <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

{% endblock %}
