<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Dashboard</title>

  {% block content_css %}
  {% endblock %}

  <!-- Frappe-related Script -->
  <script>
    window.frappe = {};
    frappe.ready_events = [];
    frappe.ready = function(fn) {
     frappe.ready_events.push(fn);
    }
    window.dev_server = {{ dev_server }};
    window.socketio_port = {{ (frappe.socketio_port or 'null') }};
    window.show_language_picker = {{ show_language_picker }};
    window.is_chat_enabled = {{ chat_enable }};
  </script>
</head>

<body class="hold-transition sidebar-mini layout-navbar-fixed layout-fixed">
<div class="wrapper sidebar-mini">
  <!--  ===============================================================================================================  -->


  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left Side of Navbar -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right Side of Navbar -->
    <ul class="navbar-nav ml-auto">

      <!--  ** Login Button **  -->
      <li class="nav-item">
        <a class="nav-link" href="/login" title="Login">
          <i class="fas fa-door-closed"></i>
        </a>
      </li>

      <!--  ** Logout Button **  -->
      <li class="nav-item">
        <a class="nav-link" href="/?cmd=web_logout" title="Logout">
          <i class="fas fa-door-open"></i>
        </a>
      </li>

      <!--  ** Refresh **  -->
      <li class="nav-item">
        <a class="nav-link" href="javascript:refresh()" role="button" title="Refresh" data-toggle="tooltip">
          <i class="fas fa-redo"></i>
        </a>
      </li>

      <!--  ** Full Screen **  -->
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button" title="Full Screen" data-toggle="tooltip">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>

      <!--  ** Control Side Bar **  -->
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" title="Extension" data-toggle="tooltip">
          <i class="fas fa-th-large"></i>
        </a>
      </li>

    </ul>
  </nav>
  <!-- /.navbar -->


  
  <!--  ===============================================================================================================  -->



  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/example" class="brand-link">
      <img src="/assets/frappe_apps/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Your Company</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!--  ** Sidebar user panel (optional) **  -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/assets/frappe_apps/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a class="d-block">{{ _( frappe.session.user ) }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact" data-widget="treeview" role="menu" data-accordion="false">

          {% if frappe.session.user != "Guest" %}
          <!--  =======================================================================================================  -->

          <!--  ** Dashboard **  -->
          <li class="nav-item menu-is-opening menu-open">
            <a href="#" class="nav-link" id="cat-dashboard">
              <i class="nav-icon fas fa-grip-lines"></i>
              <p>
                Dashboard
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/example" class="nav-link" id="dashboard">
                  <i class="nav-icon fas fa-cubes"></i>
                  <p>Dashboard</p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link" id="calendar">
                    <i class="nav-icon fas fa-calendar-day"></i>
                    <p>Calendar</p>
                  </a>
                </li>
              </ul>
          </li>

          <!--  ** Configurations **  -->
          <li class="nav-item menu-is-opening menu-open">
            <a href="#" class="nav-link" id="cat-config">
              <i class="nav-icon fas fa-grip-lines"></i>
              <p>
                Configurations
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link" id="accounts">
                  <i class="nav-icon fas fa-id-badge"></i>
                  <p>Accounts</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" id="users">
                  <i class="nav-icon fas fa-user"></i>
                  <p>Users</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" id="locations">
                  <i class="nav-icon fas fa-map-marker-alt"></i>
                  <p>Locations</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" id="trips">
                  <i class="nav-icon fas fa-route"></i>
                  <p>Trips</p>
                </a>
              </li>
            </ul>
          </li>

          <!--  =======================================================================================================  -->
          {% endif %}

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  
  <!--  ===============================================================================================================  -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content_header %}
    {% endblock %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        {% if frappe.session.user != "Guest" %}
        
          {% block content %}
          {% endblock %}

        {% else %}

          <div class="row">
            <!--  * Card - Permission Denied *  -->
            <div class="col-lg-12 col-12">
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="fas fa-ban"></i> Permission Denied</h5>
                Guest has no permission to access this page, please check with the administrator.
              </div>
            </div>
          </div>
          <!-- /.row -->
          
        {% endif %}
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


  <!--  ===============================================================================================================  -->

  <!-- 
  {% block content_control_side_bar %}
  {% endblock %}
  -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" style="height: 100%">
    <!-- Control sidebar content goes here -->
    <div class="p-3 control-sidebar-content" style="">
      <h5>Display Customization</h5><hr class="mb-2"/>
      <div class="mb-4"><input type="checkbox" value="1" class="mr-1" id="dark-mode"><span>Dark Mode</span></div>
    </div>
  </aside>
  <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->


<!--  =================================================================================================================  -->

{% block content_script %}
{% endblock %}

<!-- For jQuery Tooltip -->
<script>
  $('.nav-link').tooltip({
    show: null
  });

  function refresh() {
    window.location.reload(true)
  }

  var $dark_mode_checkbox = $("#dark-mode").on('click', function () {
    if ($(this).is(':checked')) {
        $('body').addClass('dark-mode')
    } else {
        $('body').removeClass('dark-mode')
    }
  })
</script>

<!-- Frappe-related Script -->
<script type="text/javascript" src="/assets/js/frappe-web.min.js?ver={{ build_version }}"></script>
{%- for link in web_include_js %}
<script type="text/javascript" src="{{ link | abs_url }}?ver={{ build_version }}"></script>
{%- endfor -%}

</body>
</html>